*.container{
    height: 110vh;
}
@media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh;
    }
}

  
*,
*::before,
*::after {
  box-sizing: border-box;
}
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  
  .resume {
    margin-bottom: 150px; /* Add some bottom margin to create space between sections */
    height: 130vh;
}

.interests {
    height: 100vh;
    margin-top: 50px; /* Add some top margin to create space between sections */
    margin-bottom: 150px;
}
.about{
    height: 100vh;
    margin-top: 150px; /* Add some top margin to create space between sections */
}
